<!--The content below is only a placeholder and can be replaced.-->
<div class="container"> <!-- class bootstrap -->
  <div class="row"> <!-- class bootstrap -->
    <div class="col-xs-12"> <!-- class bootstrap -->
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
      <button class="btn btn-success" [disabled]="!isAuth">Tout allumer</button>
    </div>
  </div>
</div>
